# Ignore everything
*

# But not these files...
!.gitignore
!Changes.md
!icon.png
!Mod_Listing.md
!README.md

# Or these folders
!patches/*
!minecraft/config/*
!minecraft/mods/*
!minecraft/resources/*
!minecraft/scripts/*
!minecraft/icon.png
!minecraft/modpack/*
