.git/
instance.cfg
.packignore
minecraft/asm/
minecraft/backups/
minecraft/coremods/
minecraft/crash-reports/
minecraft/fonts/
minecraft/journeymap/
minecraft/local/
minecraft/logs/
minecraft/resourcepacks/
minecraft/saves/
minecraft/screenshots/
minecraft/server-resource-packs/
minecraft/texturepacks/
minecraft/*.log
minecraft/options.txt
minecraft/usercache.json
minecraft/usernamecache.json